{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <h1 class="center-align">Crear Empleado</h1>

    <form method="post" class="col s12">
        {% csrf_token %}
        <div class="row">
            <div class="input-field col s6">
                {{ form.nombres.label_tag }}
                {{ form.nombres }}
            </div>
            <div class="input-field col s6">
                {{ form.apellidos.label_tag }}
                {{ form.apellidos }}
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                {{ form.direccion.label_tag }}
                {{ form.direccion }}
            </div>
            <div class="input-field col s6">
                {{ form.telefono.label_tag }}
                {{ form.telefono }}
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                {{ form.dpi.label_tag }}
                {{ form.dpi }}
            </div>
            <div class="input-field col s6">
                {{ form.nit.label_tag }}
                {{ form.nit }}
            </div>
             <div class="input-field col s6">
                {{ form.igss.label_tag }}
                {{ form.igss }}
            </div>
        </div>

        <div class="row">

            <div class="input-field col s6">
            <select id="oficina" name="oficina" required class="validate">
                <option value="" disabled selected>Seleccione una oficina</option>
                {% for oficina in oficinas %}
                    <option value="{{ oficina.id }}">{{ oficina.nombre }}</option>
                {% endfor %}
            </select>
            <label for="oficina">Oficina</label>

            </div>

            <div class="input-field col s6">
                <select id="cargo" name="cargo" required class="validate">
                    <option value="" disabled selected>Seleccione un cargo</option>
                    {% for cargo in cargos %}
                        <option value="{{ cargo.id }}">{{ cargo.nombre }}</option>
                    {% endfor %}
                </select>
                <label for="cargo">Cargo</label>
            </div>


        </div>

        <div class="row">
             <div class="input-field col s6">
                {{ form.banco.label_tag }}
                {{ form.banco }}
            </div>
            <div class="input-field col s6">
                {{ form.cuenta.label_tag }}
                {{ form.cuenta }}
            </div>

        </div>
        <div class="row">
             <div class="input-field col s6">
                {{ form.sueldo.label_tag }}
                {{ form.sueldo }}
            </div>
            <div class="input-field col s6">
                {{ form.bonificacion.label_tag }}
                {{ form.bonificacion }}
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="fecha_inicio" type="date" name="fecha_inicio" required>
                <label for="fecha_inicio">Fecha de Inicio</label>
            </div>
            <div class="input-field col s6">
                <input id="fecha_finalizacion" type="date" name="fecha_finalizacion" required>
                <label for="fecha_finalizacion">Fecha de Finalización</label>
            </div>

        </div>
        <div class="row">
              <div class="input-field col s6">
                {{ form.no_contrato.label_tag }}
                {{ form.no_contrato }}
            </div>
            <div class="input-field col s6">
                {{ form.renglon.label_tag }}
                {{ form.renglon }}
            </div>
        </div>
        <button class="btn waves-effect waves-light" type="submit">Guardar</button>
        <a class="btn waves-effect waves-light" href="{% url 'lista-empleados' %}">Volver</a>

    </form>
</div>

{% endblock %}
