{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2 class="center-align">Editar Empleado</h2>
    <form class="col s12" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="input-field col s6">
                {{ form.nombres }}
                <label for="{{ form.nombres.id_for_label }}">Nombres</label>
            </div>
            <div class="input-field col s6">
                {{ form.apellidos }}
                <label for="{{ form.apellidos.id_for_label }}">Apellidos</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                {{ form.direccion }}
                <label for="{{ form.direccion.id_for_label }}">Dirección</label>
            </div>
            <div class="input-field col s6">
                {{ form.telefono }}
                <label for="{{ form.telefono.id_for_label }}">Teléfono</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                {{ form.dpi }}
                <label for="{{ form.dpi.id_for_label }}">DPI</label>
            </div>
            <div class="input-field col s6">
                {{ form.nit }}
                <label for="{{ form.nit.id_for_label }}">NIT</label>
            </div>
            <div class="input-field col s6">
                {{ form.igss }}
                <label for="{{ form.igss.id_for_label }}">IGSS</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                {{ form.oficina }}
                <label for="{{ form.oficina.id_for_label }}">Oficina</label>
            </div>
            <div class="input-field col s6">
                {{ form.cargo }}
                <label for="{{ form.cargo.id_for_label }}">Cargo</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                {{ form.banco }}
                <label for="{{ form.banco.id_for_label }}">Banco</label>
            </div>
            <div class="input-field col s6">
                {{ form.cuenta }}
                <label for="{{ form.cuenta.id_for_label }}">Cuenta Bancaria</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                {{ form.sueldo }}
                <label for="{{ form.sueldo.id_for_label }}">Sueldo</label>
            </div>
            <div class="input-field col s6">
                {{ form.bonificacion }}
                <label for="{{ form.bonificacion.id_for_label }}">Bonificación</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                {{ form.fecha_inicio }}
                <label for="{{ form.fecha_inicio.id_for_label }}">Fecha de Inicio</label>
            </div>
            <div class="input-field col s6">
                {{ form.fecha_finalizacion }}
                <label for="{{ form.fecha_finalizacion.id_for_label }}">Fecha de Finalización</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                {{ form.no_contrato }}
                <label for="{{ form.no_contrato.id_for_label }}">Número de Contrato</label>
            </div>
            <div class="input-field col s6">
                {{ form.renglon }}
                <label for="{{ form.renglon.id_for_label }}">Renglón</label>
            </div>
        </div>
        <button class="btn waves-effect waves-light" type="submit">Guardar Cambios</button>
    </form>
</div>
{% endblock %}
