
{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <h5 class="center-align">Listado de empleados
            <a href="{% url 'crear_empleado' %}" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
        </h5>

        <form method="GET" action="{% url 'lista-empleados' %}" class="center">
            <div class="input-field">
                <input type="text" id="search" name="search" placeholder="Buscar empleados">
            </div>
            <button class="btn waves-effect waves-light" type="submit">
                Buscar <i class="material-icons right">search</i>
            </button>

        </form>


        <table>
            <thead>
                <tr>
                    <th>Nombre Completo</th>
                    <th>Oficina</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for empleado in empleados %}
                    <tr>
                        <td>{{ empleado.nombres }} {{ empleado.apellidos }}</td>
                        <td>{{ empleado.oficina }}</td>
                        <td>
                            <div>
                                 <a href="#modal-{{ empleado.id }}" class="modal-trigger waves-effect waves-light btn">Ver más</a>
                            </div>

                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% for empleado in empleados %}
             <div id="modal-{{ empleado.id }}" class="modal row">
                <div class="modal-content row">
                    <h4>Detalles del empleado</h4>
                    <!-- Contenido de la primera columna -->
                    <div class="col s6">
                        <p><strong>Nombre:</strong> {{ empleado.nombres }} {{ empleado.apellidos }}</p>
                        <hr>
                        <p><strong>Dirección:</strong> {{ empleado.direccion }}</p>
                        <p><strong>Teléfono:</strong> {{ empleado.telefono }}</p>
                         <hr>
                        <p><strong>DPI:</strong> {{ empleado.dpi }}</p>
                        <p><strong>NIT:</strong> {{ empleado.nit }}</p>
                        <p><strong>IGSS:</strong> {{ empleado.igss }}</p>
                         <hr>
                          <p><strong>Banco:</strong> {{ empleado.banco }}</p>
                          <p><strong>Cuenta:</strong> {{ empleado.cuenta }}</p>
                    </div>

                    <!-- Contenido de la segunda columna -->
                    <div class="col s6">
                         <p><strong>Oficina:</strong> {{ empleado.oficina }}</p>
                        <p><strong>Cargo:</strong> {{ empleado.cargo }}</p>
                         <hr>
                        <p><strong>Sueldo:</strong> Q.{{ empleado.sueldo }}</p>
                        <p><strong>Bonificación:</strong> Q.{{ empleado.bonificacion }}</p>
                         <hr>
                        <p><strong>Fecha de Inicio:</strong> {{ empleado.fecha_inicio }}</p>
                        <p><strong>Fecha de Finalización:</strong> {{ empleado.fecha_finalizacion }}</p>
                        <p><strong>Número de Contrato:</strong> {{ empleado.no_contrato }}</p>
                        <p><strong>Renglón:</strong> {{ empleado.renglon }}</p>

                    </div>

                </div>
                <div class="center row">
                     <button id="generar-pdf-{{ empleado.id }}" class="generar-pdf-button modal-trigger waves-effect waves-light btn"><i class="material-icons left">local_printshop</i>Generar PDF</button>
                    <a href="{% url 'editar_empleado' empleado.id %}" class="waves-effect waves-light btn"><i class="material-icons left">edit</i>Editar</a>


                    <a href="{% url 'eliminar-empleado' empleado.id %}" onclick="return confirm('¿Estás seguro que deseas eliminar este empleado?')" class="waves-effect waves-light btn"><i class="material-icons left">delete</i>Eliminar</a>


                </div>

            </div>
        {% endfor %}

    </div>
         <div class="center row">
                <a href="{% url 'generar_reporte_empleados' %}" class="btn btn-primary center row">Generar Informe de Empleados</a>
            </div>

<!-- Agrega jsPDF a tu página -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
<script>


document.addEventListener("DOMContentLoaded", function() {
    const buttons = document.querySelectorAll(`[id^="generar-pdf-"]`);

    buttons.forEach(button => {
        button.addEventListener("click", function() {
            const empleadoId = this.getAttribute("id").replace("generar-pdf-", "");
            const modal = document.querySelector(`#modal-${empleadoId}`);
            const empleadoContent = modal.querySelector(".modal-content").cloneNode(true);

            // Crear un nuevo documento HTML2PDF
            const pdf = new html2pdf(empleadoContent);

            // Opciones de generación del PDF
            const options = {
                margin: 10,
                filename: 'informe-empleado.pdf',
                image: { type: 'jpeg', quality: 0.98 },
                html2canvas: { scale: 2 },
                jsPDF: { unit: 'mm', format: 'a4', orientation: 'portrait' }
            };

            // Generar el PDF y abrirlo en una nueva ventana
            pdf.from(empleadoContent).set(options).outputPdf("bloburl").then(function (url) {
                window.open(url, "_blank");
            });
        });
    });
});


</script>




{% endblock %}
    <script src="{% static 'script/scripts.js' %}"></script>
