{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>{{ tipo_permiso.nombre|default:"Nuevo Tipo de Permiso" }}</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>
{% endblock %}
