{% extends "base.html" %}

{% block content %}
  <div class="container">
        <h2 class="center-align">{{ titulo }}</h2>
        <form class="col s12" method="post">
            {% csrf_token %}

            <div class="input-field col s6">
                {{ form.empleado }}
                <label for="{{ form.empleado.id_for_label }}">Empleado</label>
            </div>

            <div class="input-field col s6">
                <input type="date" name="fecha_solicitud" id="fecha_solicitud">
                <label for="fecha_solicitud">Fecha de Solicitud</label>
            </div>

            <div class="input-field col s6">
                <input type="date" name="fecha_inicio" id="fecha_inicio">
                <label for="fecha_inicio">Fecha de Inicio</label>
            </div>

            <div class="input-field col s6">
                <input type="date" name="fecha_regreso" id="fecha_regreso">
                <label for="fecha_regreso">Fecha de Regreso</label>
            </div>

            <div class="input-field col s6">
                {{ form.tipo_permiso }}
                <label for="{{ form.tipo_permiso.id_for_label }}">Tipo de Permiso</label>
            </div>

            <div class="input-field col s12">
                {{ form.justificacion }}
                <label for="{{ form.justificacion.id_for_label }}">Justificación</label>
            </div>

            <div class="input-field col s6">
                {{ form.aprobado }}
                <label for="{{ form.aprobado.id_for_label }}">Aprobado</label>
            </div>

            <button class="btn waves-effect waves-light" type="submit">Guardar Cambios</button>
        </form>


  </div>
{% endblock %}
