{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h1>Lista de Tipos de Permiso</h1>
        <a href="{% url 'crear-tipo-permiso' %}" class="btn btn-primary">Crear Nuevo Tipo de Permiso</a>

        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for tipo_permiso in tipos_permiso %}
                    <tr>
                        <td>{{ tipo_permiso.nombre }}</td>
                        <td>

                             <a href="{% url 'editar-tipo-permiso' tipo_permiso.id %}" >
                                <i class="material-icons right">edit</i>
                            </a>

                            <a href="{% url 'eliminar-tipo-permiso' tipo_permiso.id %}" onclick="return confirm('¿Estás seguro que deseas eliminar esta oficina?')">
                                <i class="material-icons right red-text">delete</i>
                            </a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="2">No se encontraron tipos de permiso.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
