{% extends "base.html" %}

{% block content %}
  <div class="container">
     <h5 class="center-align">Permisos
            <a href="{% url 'crear-permiso' %}" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
        </h5>

    <form method="get" action="{% url 'listar-permisos' %}" class="right-align">
        <input type="text" name="search" value="{{ search_query }}" placeholder="Buscar por nombre de empleado">
        <button type="submit" class="btn waves-effect waves-light">Buscar</button>
    </form>
    <ul class="collapsible">
      {% for empleado_info in permisos_por_empleado %}
        <li class="collection-item">
          <div class="collapsible-header">
            {{ empleado_info.empleado.nombres }} {{ empleado_info.empleado.apellidos }}
          </div>
          <div class="collapsible-body">
            <h4>Permisos de {{ empleado_info.empleado.nombres }} {{ empleado_info.empleado.apellidos }}</h4>
            <ul class="collection">
              {% for permiso in empleado_info.permisos %}
                <li class="collection-item">
                  {{ permiso.fecha_solicitud }} - {{ permiso.tipo_permiso.nombre }}
                  <a class="waves-effect waves-light modal-trigger" href="#modal-{{ permiso.id }}"><i class="material-icons">zoom_in</i></a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>

  <!-- Modal para mostrar detalles de permisos -->
  {% for empleado_info in permisos_por_empleado %}
    {% for permiso in empleado_info.permisos %}
      <div id="modal-{{ permiso.id }}" class="modal">
        <div class="modal-content">
          <h4>Detalles del Permiso</h4>
          <p><strong>Fecha de Solicitud:</strong> {{ permiso.fecha_solicitud }}</p>
          <p><strong>Fecha de Inicio:</strong> {{ permiso.fecha_inicio }}</p>
          <p><strong>Fecha de Regreso:</strong> {{ permiso.fecha_regreso }}</p>
          <p><strong>Tipo de Permiso:</strong> {{ permiso.tipo_permiso.nombre }}</p>
          <p><strong>Justificación:</strong> {{ permiso.justificacion }}</p>
          <p><strong>Aprobado:</strong>
          {% if permiso.aprobado %}
            Si
          {% else %}
            No
          {% endif %}
          {% if not permiso.aprobado %}
              <a href="{% url 'aprobar-permiso' permiso.id %}" class="btn waves-effect waves-light">Aprobar</a>
          {% else %}
              <a href="{% url 'aprobar-permiso' permiso.id %}" class="btn waves-effect waves-light red">No Aprobar</a>

         {% endif %}
        </p>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cerrar</a>
        </div>
      </div>
    {% endfor %}
  {% endfor %}
{% endblock %}
