
.azulMuni{
    background-color: #06c!important;
}
.celesteMuni{
    background-color: #0cf;

}
.verdeMuni{
    background-color: #0fc;

}
.align-right {
    float: right!important;
}

/* NAV */

.nav-wrapper {

    padding: 0 1em;
    margin-bottom: 5em!important;

}

nav div h1{
    padding-left: 110px!important;
    margin: 0.5em;
}
.logoMuni{
    width: 100px!important; /* Ancho deseado en píxeles */
    height: auto; /* Altura automática para mantener la proporción */
    margin: 0.25em;
}

/* Body */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
/* Footer */

main {
        margin:3em!important;
        flex: 1 0 auto;
}


@media only screen and (min-width: 992px){

}


