{% extends "base.html" %}

{% block content %}


<div class="container">
    <h2 class="center-align">Editar Oficina</h2>
    <form class="col s12" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="input-field col s12">
                {{ form.nombre }}
                <label for="{{ form.nombre.id_for_label }}">Nombre de la Oficina</label>
            </div>
        </div>
        <!-- Agrega los demás campos del formulario que deseas editar -->
        <button class="btn waves-effect waves-light" type="submit">Guardar Cambios</button>
    </form>
</div>

{% endblock %}
