{% extends "base.html" %}
{% load static %}

{% block content %}



<div class="container">
    <h2 class="center-align">
        Oficinas
            <a href="{% url 'oficina' %}"  class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">edit</i></a>
    </h2>

    <ul class="collapsible">
        {% for oficina_info in oficinas_con_empleados %}

            <li class="collection-item">
               <div class="collapsible-header">
                    {{ oficina_info.oficina.nombre }}
               </div>
                <div class="collapsible-body">
                    <h4>Empleados en {{ oficina_info.oficina.nombre }}</h4>
                    <ul class="collection">
                        {% for empleado in oficina_info.empleados %}
                            <li class="collection-item">{{ empleado.nombres }} {{ empleado.apellidos }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
        {% endfor %}
    </ul>

    <a href="{% url 'generar_reporte_empleados' %}" class="btn btn-primary">Generar Informe de Empleados</a>

</div>



{% endblock %}