{% extends "base.html" %}

{% block content %}


<div class="container">

    <h1 class="center-align">Listado de Oficinas</h1>

   <ul class="collection">
        {% for oficina in oficinas %}
            <li class="collection-item">
                {{ oficina.nombre }}

                <a href="{% url 'editar_oficina' oficina.id %}" >
                    <i class="material-icons right">edit</i>
                </a>

                <a href="{% url 'eliminar_oficina' oficina.id %}" onclick="return confirm('¿Estás seguro que deseas eliminar esta oficina?')">
                    <i class="material-icons right red-text">delete</i>
                </a>
            </li>
        {% endfor %}
    </ul>

    <div class="row">
        <h2 class="center-align">Agregar Oficina</h2>
        <form class="col s12" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="input-field col s12">
                    {{ form.nombre }}
                    <label for="{{ form.nombre.id_for_label }}">Nombre de la Oficina</label>

                </div>
            </div>
            <button class="btn waves-effect waves-light" type="submit">Guardar</button>
        </form>
    </div>
</div>
{% endblock %}

