{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>GEM</title>
    <!-- Agrega las referencias a los estilos de Materialize CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'img/logoMuni.png' %}" rel="icon">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>


</head>
<body>
    <header>
        <nav>
        <div class="nav-wrapper azulMuni">
            <img src="{% static 'img/logoMuni.png' %}" alt="Logo" class="logoMuni brand-logo">
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{% url 'oficina' %}">Oficinas</a></li>
                <li><a href="{% url 'lista-empleados' %}">Empleados</a></li>
                <li><a href="{% url 'listar_oficinas' %}">Oficinas-empleados</a></li>
                 <li><a href="{% url 'listar-permisos' %}">Permisos</a></li>
                <li>
                    <button id="logout-button" class="btn waves-effect waves-light celesteMuni">
                      salir
                    </button>
                </li>
            </ul>
        </div>
      </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="{% url 'oficina' %}">Oficinas</a></li>
    <li><a href="{% url 'lista-empleados' %}">Empleados</a></li>
    <li><a href="{% url 'listar_oficinas' %}">Oficinas-empleados</a></li>
    <li>
        <button id="logout-button" class="btn waves-effect waves-light celesteMuni center">
          salir
        </button>
    </li>

  </ul>
    </header>

    <main>

        {% block content %}


        {% endblock %}
    </main>

        <footer class="page-footer azulMuni">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container ">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>
    <!-- Agrega la referencia a los scripts de Materialize CSS al final del archivo -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
    <script src="{% static 'script/scripts.js' %}"></script>

</body>
</html>
